* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

/* --- Navbar --- */
nav {
    height: 70px;
    display: flex;
    padding: 1.25em 2.25em;
    box-shadow: 0px 2.982px 7.456px rgba(0,0,0,0.1);
}

.nav--logo {
    max-width: 100px;
}

/* --- Hero --- */

section {
    padding: 1.25em;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    margin-bottom: 1em;
}

.hero--text {
    margin-top: 0;
}


/* --- Card --- */

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}


.card {
    width: 175px;
    font-size: 0.75rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 0.875em;
}

.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #fff;
    padding: 0.312em 0.437em;
    border-radius: 2px;
    font-weight: bold;
}



@media screen and (min-width: 768px){
    .App {
        max-width: 900px;
        margin: 0 auto;
    }

    .cards-list {
        justify-content: space-around;
     
    }
}